:root {
  --font-one: 'Space Mono', monospace;
  --font-two: 'Press Start 2P', cursive;
  --clr-one: rgb(9, 9, 106);
  --clr-two: rgb(119, 7, 33);
  --font-clr: rgb(188, 166, 222);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: block;
  overflow-x: hidden;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  font-family: var(--font-one);
  color: rgb(188, 166, 222);
  background: linear-gradient(2deg, rgb(63, 3, 71), rgb(1, 1, 47))
}
a {
  color: rgb(188, 166, 222)  ;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;

}
nav div {
  /* background-color: aqua; */
  padding: 4vmin;
  cursor: pointer;
  font-size: 5vmin;
}
nav div span {
  margin-left: 5vmin;
}
.title {
  font-family: var(--font-two);
  color: blanchedalmond;
  justify-self: center;
  margin-top: 30px;
  width: 75%;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.title h1 span a {
  animation: changecolor 5s linear infinite;
}
@keyframes changecolor {
  0%{
    color: blanchedalmond;
  }
  33%{
    color: rgb(119, 7, 33);
  }
  66%{
    color: rgb(9, 9, 106)
  }
  100%{
    color: blanchedalmond;
  }
}
.carda-container {
  display: flex;
  overflow-x: scroll;
  padding: 5px;
}
.cardashan {
  /* background-color: beige; */
  border-radius: 10%;
  box-shadow: -2px 0px 4px rgb(9, 9, 106),  2px 0px 4px rgb(119, 7, 33);
  padding: 0.5rem;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  scale: 1;
  transition: scale 300ms;
}
.cardashan:hover {
  animation: scalecard 300ms linear 1 forwards;
}
@keyframes scalecard {
  0%{
    scale: 1;
  }
  100%{
    scale: 1.02;
  }
}
.cardashan h2{
  font-size: 1rem;
}

.cardashan div {
  display: flex;
  justify-content: center;
}

.cardashan img {
  border-radius: 10%;
}
/* Style the scrollbar itself */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: linear-gradient(180deg, rgb(63, 3, 71), rgb(1, 1, 47))
}

/* Style the thumb (the part of the scrollbar the user can interact with) */
::-webkit-scrollbar-thumb {
  background-color: rgb(119, 7, 33);
  border-radius: 10px;
  /* height: 10px; */
}

/* Style the thumb when it's being hovered over or dragged */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(9, 9, 106)
}
.info-container {
  width: 75%;
  height: 75vh;
  /* border: 4px black solid; */
  margin: 0 auto;
}
.info-container h1 {
  background-color: #ff00bb17;
  font-size: 3rem;
  letter-spacing: 5px;
  padding: 3px;
  border-radius: 4px;
}
.info-container h2 {
  display: block;
  background-color: #ff00bb17;
  margin-top: 5px;
  font-size: 1.5rem;
  padding: 3px;
  letter-spacing: 1px;
  border-radius: 4px;
}
.info-container img {
  border-radius: 4px;
}
svg {
  border-radius: 4px;
}
.next-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  
}
.next-item div {
  width: 50%;
  color: rgb(9, 9, 106);
  padding: 25px;
  border-radius: 4px;
  background-color: #ff00bb17;
  opacity: 0.5;
  transition: opacity 300ms;
  margin-top: 2px;
}
.next-item div:hover {
  opacity: 1;
  transition: opacity 300ms;
  cursor: pointer;
  border: 1px solid rgb(9, 9, 106);
  transition: border 1s;
}
.next-item div:hover a {
  color: red;
  transition: color 200ms;
}
#placeholder-menu {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(2deg, rgb(63, 3, 71), rgb(1, 1, 47)) ;
  position: absolute;
  z-index: 3;
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu h2 {
  font-size: 12vmin;
  opacity: 1;
}
.menu h2 a:hover {
  opacity: 1;
  color: rgb(255, 255, 255);
}
.menu div {
  position: absolute;
  top: 4vmin;
  right: 4vmin;
  font-size: 5vmin;
  opacity: 0.4;
}
.menu div:hover {
  opacity: 1;
  cursor: pointer;
}
#footer {
  display: flex;
}
#footer div {
  width: 50vw;
  padding: 3vmin;
}
#footer div h1 {
  /* background-color: blanchedalmond; */
  font-size: 4vmin;
  /* color: var(--font-clr); */
}
#footer div h2 {
  font-size: 3vmin;
  /* color: var(--clr-two) */
}
#footer div h3 {
  color: blanchedalmond;
  font-size: 4vmin;
}
#contact h1 {
  color: blanchedalmond;
}
#contact h2 {
  color: var(--clr-one);
}
#contact h2 span {
  color: var(--clr-two);
  opacity: 0.8;
}
#contact h2 span:hover {
  color: blanchedalmond;
  opacity: 1;
}