:root {
  --font-one: 'Space Mono', monospace;
  --font-two: 'Press Start 2P', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: block;
  overflow-x: hidden;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  min-height: 150vh;
  font-family: var(--font-one);
  color: rgb(188, 166, 222);
  background: linear-gradient(2deg, rgb(63, 3, 71), rgb(1, 1, 47))
}
a {
  color: rgb(188, 166, 222)  ;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  /* max-width: 1000px; */

}
nav div {
  /* background-color: aqua; */
  padding: 1rem;
}
.title {
  font-family: var(--font-two);
  color: blanchedalmond;
  justify-self: center;
  margin-top: 30px;
  width: 75%;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.title h1 span {
  animation: changecolor 5s linear infinite;
}
@keyframes changecolor {
  0%{
    color: blanchedalmond;
  }
  33%{
    color: rgb(119, 7, 33);
  }
  66%{
    color: rgb(9, 9, 106)
  }
  100%{
    color: blanchedalmond;
  }
}
.carda-container {
  display: flex;
  overflow-x: scroll;
  padding: 5px;
}
.cardashan {
  /* background-color: beige; */
  border-radius: 10%;
  box-shadow: -2px 0px 4px rgb(9, 9, 106),  2px 0px 4px rgb(119, 7, 33);
  padding: 0.5rem;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  scale: 1;
  transition: scale 300ms;
}
.cardashan:hover {
  animation: scalecard 300ms linear 1 forwards;
}
@keyframes scalecard {
  0%{
    scale: 1;
  }
  100%{
    scale: 1.02;
  }
}
.cardashan h2{
  font-size: 1rem;
}

.cardashan div {
  display: flex;
  justify-content: space-between;
}
.cardashan img {
  border-radius: 10%;
}
/* Style the scrollbar itself */
::-webkit-scrollbar {
  width: 30px;
  background: linear-gradient(180deg, rgb(63, 3, 71), rgb(1, 1, 47))
}

/* Style the thumb (the part of the scrollbar the user can interact with) */
::-webkit-scrollbar-thumb {
  background-color: rgb(119, 7, 33);
  border-radius: 10px;
  /* height: 10px; */
}

/* Style the thumb when it's being hovered over or dragged */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(9, 9, 106)
}
.info-container {
  width: 75%;
  height: 75vh;
  /* border: 4px black solid; */
  margin: 0 auto;
}
.info-container h1 {
  background-color: #ff00bb17;
  font-size: 2rem;
  letter-spacing: 5px;
  padding: 3px;
}
.info-container h2 {
  /* background-color: aqua; */
  background-color: #ff00bb17;
  margin-top: 5px;
  font-size: 1.5rem;
  padding: 3px;
  letter-spacing: 1px;
}
svg {
  border-radius: 4px;
}
.next-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.next-item div {
  width: 50%;
  color: rgb(9, 9, 106);
  padding: 25px;
  
  background-color: #ff00bb17;
  opacity: 0.5;
  transition: opacity 300ms;
}
.next-item div:hover {
  opacity: 1;
  transition: opacity 300ms;
  cursor: pointer;
  border: 1px solid rgb(9, 9, 106);
  transition: border 1s;
}
.next-item div:hover a {
  color: red;
  transition: color 200ms;
}